<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filepath" value="D:\C#\Tournament App"/>
	</appSettings>
  <connectionStrings>
    <add name="Tournaments" 
         connectionString="Server=localhost;Database=TournamentTracker;Trusted_Connection=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
